body{
    scroll-behavior: smooth;
    transition: background-color 0.5s ease;
    margin: 0px;
    padding: 0px;
    background-color: rgb(255, 255, 255);
  }

nav{
    z-index: 1;
  }

span{
  color: aqua;
}

.tampilan-kedua{
  background-color: rgb(218, 218, 218);
}

footer{
  background-color:rgb(163, 46, 66);
}

ul li a{
  color:black
}

.namaku span{
  color: rgb(164, 0, 0);
}

.tulisan-kedua a {
  color: black;
  text-decoration: none;
}

.tulisan-kedua a:hover{
  color: rgb(124, 0, 0);
  font-weight: bold;
}

.zoom-box {
  position: fixed;
  display: none;
  width: 200px;
  height: 200px;
  border: 2px solid #000;
  z-index: 9999;
  pointer-events: none;
}

.zoom-box{
  border: none;
}
